[Unit]
Description=Run ShreyWS Borg backup daily

[Timer]
OnCalendar=*-*-* 03:30:00
RandomizedDelaySec=30m
Persistent=true
Unit=shreyws-backup.service

[Install]
WantedBy=timers.target
